<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.guest.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.guest.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsController</servlet-name>
        <servlet-class>controller.guest.ProductDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>controller.guest.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.customer.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUser</servlet-name>
        <servlet-class>branch.minh.admin.AdminUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSetting</servlet-name>
        <servlet-class>controller.admin.AdminSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsers</servlet-name>
        <servlet-class>controller.admin.AdminUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListController</servlet-name>
        <servlet-class>controller.marketing.FeedbackListManagerController</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>ReCaptcha</servlet-name>
        <servlet-class>controller.guest.ReCaptcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customers</servlet-name>
        <servlet-class>controller.sale.Customers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundRequestController</servlet-name>
        <servlet-class>controller.customer.RefundRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsController</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSetting</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListController</servlet-name>
        <url-pattern>/feedbacklist</url-pattern>
    </servlet-mapping>
    <!-- Error Pages -->
    <servlet-mapping>
        <servlet-name>ReCaptcha</servlet-name>
        <url-pattern>/recaptcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customers</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundRequestController</servlet-name>
        <url-pattern>/refund</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error/401.jsp</location>
    </error-page>
    <!-- General Error Page for Unhandled Exceptions -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/generalError.jsp</location>
    </error-page>
</web-app>
